<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <navbar>
        <div class='w-full py-3 border-b'>
  
          <div class='flex justify-between px-20 items-center font-semibold'>
            <div>
              <h1 class="text-2xl">Django</h1>
            </div>
            <div class='flex xl:gap-10 md:gap-8  gap-2'>
              <a href="">Inicio</a>
              <a href="">Productos</a>
              <a href="">Nosotros</a>
              <a href="">Servicios</a>
            </div>
            <div>
                {% if user.is_authenticated %}
                <form action="{% url "logout" %}" method="post">
                    {% csrf_token %}
                    {{user.username}}
                    <button class='py-2 px-6 bg-black text-white font-semibold'>Logout</button>
                </form>
                {% else %}
                    <a class='py-2 px-6 bg-black text-white font-semibold' href="{% url "login" %}">Login</a>
                {% endif %}
             
                
             
            </div>
          </div>
          
        </div>
      </navbar>
    
        
    <div class="container mx-auto px-4">
        
        {% block content %}
            
        {% endblock content %}
            
    </div>
</body>
</html>